<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Secure Voting Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
    <div class="grid grid-cols-3 gap-4">
        <div class="grid gap-4">
            <div class="text-center"></div>
            <div class="w-full lg:col-start-1 lg:col-end-5">
                <div class="h-16 bg-black text-white px-10 py-5 text-2xl sm:text-3xl md:text-2xl rounded-tr-lg flex items-center justify-center">
                    PPDB Gelombang 1
                </div>
                <div class="h-16 bg-primary text-white px-10 py-5 text-center text-2xl sm:text-3xl md:text-2xl rounded-bl-lg flex items-center justify-center">
                    <div class="flex flex-row justify-between w-4/5">
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">31</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Agustus
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                        <hr class="my-4 mx-auto w-4 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700" />
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">11</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Desember
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center"></div>
            <div class="w-full lg:col-start-1 lg:col-end-5">
                <div class="h-16 bg-black text-white px-10 py-5 text-2xl sm:text-3xl md:text-2xl rounded-tr-lg flex items-center justify-center">
                    PPDB Gelombang 1
                </div>
                <div class="h-16 bg-primary text-white px-10 py-5 text-center text-2xl sm:text-3xl md:text-2xl rounded-bl-lg flex items-center justify-center">
                    <div class="flex flex-row justify-between w-4/5">
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">31</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Agustus
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                        <hr class="my-4 mx-auto w-4 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700" />
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">11</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Desember
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center"></div>
            <div class="text-center"></div>
        </div>
        <div class="grid gap-4">
            <div class="row-span-6">
                <img src="tiang.jpg" alt="" class="max-w-full mx-auto" />
            </div>
        </div>
        <div class="grid gap-4">
            <div class="w-full lg:col-start-1 lg:col-end-5">
                <div class="h-16 bg-black text-white px-10 py-5 text-2xl sm:text-3xl md:text-2xl rounded-tr-lg flex items-center justify-center">
                    PPDB Gelombang 1
                </div>
                <div class="h-16 bg-primary text-white px-10 py-5 text-center text-2xl sm:text-3xl md:text-2xl rounded-bl-lg flex items-center justify-center">
                    <div class="flex flex-row justify-between w-4/5">
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">31</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Agustus
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                        <hr class="my-4 mx-auto w-4 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700" />
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">11</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Desember
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center"></div>
            <div class="w-full lg:col-start-1 lg:col-end-5">
                <div class="h-16 bg-black text-white px-10 py-5 text-2xl sm:text-3xl md:text-2xl rounded-tr-lg flex items-center justify-center">
                    PPDB Gelombang 1
                </div>
                <div class="h-16 bg-primary text-white px-10 py-5 text-center text-2xl sm:text-3xl md:text-2xl rounded-bl-lg flex items-center justify-center">
                    <div class="flex flex-row justify-between w-4/5">
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">31</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Agustus
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                        <hr class="my-4 mx-auto w-4 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700" />
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">11</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Desember
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center"></div>
            <div class="w-full lg:col-start-1 lg:col-end-5">
                <div class="h-16 bg-black text-white px-10 py-5 text-2xl sm:text-3xl md:text-2xl rounded-tr-lg flex items-center justify-center">
                    PPDB Gelombang 1
                </div>
                <div class="h-16 bg-primary text-white px-10 py-5 text-center text-2xl sm:text-3xl md:text-2xl rounded-bl-lg flex items-center justify-center">
                    <div class="flex flex-row justify-between w-4/5">
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">31</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Agustus
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                        <hr class="my-4 mx-auto w-4 h-1 bg-gray-100 rounded border-0 md:my-10 dark:bg-gray-700" />
                        <div class="flex flex-row items-center gap-2">
                            <div class="text-4xl">11</div>
                            <div class="flex flex-col">
                                <div class="text-xs font-bold text-left">
                                    Desember
                                </div>
                                <div class="text-xs font-bold text-left">
                                    2022
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center"></div>
        </div>
    </div>
</body>

</html>